service: translate-aws

provider:
  name: aws
  runtime: nodejs12.18
  stage: dev
  region: us-east-1

functions:
  app:
    handler: index.handler
    events:
      - http: ANY /
      - http: 'ANY {proxy+}'